#body-config {
    background-color:#eeeeee;
    /*margin-left: 400px; */
    margin-top: 10px;
}





#link-control {
    padding-top: 10px;
    text-align: center;
}


.col-centrar{
    
    float: none !important;
    margin: 0 auto;
    
}

#listaUsuarios {
        padding-left: 6%;
    margin-bottom: 20px;
    margin-top: 8%;
    width: 80%;
}
#panelizquierdo{
    margin-top:26px;
    width: 50%;
    float: left;
    
    
}

#paginacionizquierdo{
    
    width: 50%;
    float: left;
    
    
}

#panelderecho{
    
    width: 50%;
    float: right;

    
    
}

#formularioUsuarios{
    
    width: 80%;
}


#loaderAjax2{
    
background-color: rgba(0,0,0,0.9);
background:#fff url(../load4.gif) no-repeat center;
width:100%;
height:100%;
filter:brightness(0.9);
position:absolute;

}


tbody .btn-autor {
        width: 90px;
}
